@{
    ViewBag.Title = "Home Page";
}

<h1>Random Numbers</h1>

<div class="row">
    <div class="col-lg-6">
        <form>
            <input id="count" name="count" type="number" value="10" min="1" max="1000" />
            <input id="city" name="city" type="text" value="Spokane-Augusta Ave" />
            <input id="request" name="request" type="button" value="Request" />
        </form>
        <p>Try cities:
            <ol>
                <li>"Spokane-Augusta Ave" (Spokane, WA)</li>
                <li>"Beijing US Embassy" (China)</li>
                <li>"FR20047" (Ain, France)</li>
                <li>"Athabasca Valley" (Alberta, Canada)</li>
                <li>"Iztacalco" (Mexico)</li>
            </ol>
        </p>
    </div>
    <div class="col-lg-6">
        <div id="message"></div>
        <div id="num"></div>
        <div id="numbers"></div>
    </div>
</div>

<div id="theplot"></div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}

<div style="height:200px;width:200px"></div>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aperiam fuga nam animi ea sint quo beatae, dignissimos, eius neque incidunt, maxime distinctio reprehenderit! Itaque nisi iste laboriosam ratione saepe!</p>